<div class="page-header"><h1>Your Finances</h1></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-xs-3">
                            <p>Gross Income</p>
                            <h1>{{grossIncome | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Taxes</p>
                            <h1>{{estimatedTaxes | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Net Income</p>
                            <h1>{{estimatedNetIncome | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Net Monthly Income</p>
                            <h1>{{estimatedNetIncome / 12 | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <income-sources-list (onIncomeSourcesChanged)="onIncomeSourcesChanged($event)"></income-sources-list>
        </div>
        <div class="col-xs-6">
            <tax-deductions-list (onTaxDeductionsChanged)="onTaxDeductionsChanged($event)"></tax-deductions-list>
            <tax-exemptions-list (onTaxExemptionsChanged)="onTaxExemptionsChanged($event)"></tax-exemptions-list>
            <tax-credits-list (onTaxCreditsChanged)="onTaxCreditsChanged($event)"></tax-credits-list>
        </div>
    </div>
</div>
