<div class="page-header"><h1>Your Finances</h1></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-xs-3">
                            <p>Gross Income</p>
                            <h1>{{finances.grossIncome || 0 | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Taxes</p>
                            <h1>{{finances.estimatedTaxes || 0 | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Net Income</p>
                            <h1>{{finances.estimatedNetIncome || 0 | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                        <div class="col-xs-3">
                            <p>Estimated Net Monthly Income</p>
                            <h1>{{(finances.estimatedNetIncome || 0) / 12 | currency:'USD':true:'1.0-0'}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">

            <!-- BEGIN INCOME SOURCES PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sources of Income</h3>
                </div>
                <div class="panel-body panel-table">
                    <div class="my-table">
                        <div class="my-table-group">
                            <div class="row my-table-header">
                                <div class="col-xs-6">
                                    <p>Income Source</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>Annual Amount</p>
                                </div>
                            </div>
                            <div class="row my-table-row" *ngFor="let source of finances.incomeSources" (click)="editIncomeSource(source)">
                                <div class="col-xs-6">
                                    {{source.name}}
                                </div>
                                <div class="col-xs-6">
                                    {{source.annualAmount || 0 | currency:'USD':true:'1.0-0'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-default" (click)="createNewIncomeSource()">Add New Source of Income</button>
                    </div>
                </div>
            </div>
            <!-- END INCOME SOURCES PANEL -->

        </div>
        <div class="col-xs-6">

            <!-- BEGIN TAX DEDUCTIONS PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tax Deductions</h3>
                </div>
                <div class="panel-body panel-table">
                    <div class="my-table">
                        <div class="my-table-group">
                            <div class="row my-table-header">
                                <div class="col-xs-6">
                                    <p>Tax Deduction</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>Amount</p>
                                </div>
                            </div>
                            <div class="row my-table-row" *ngFor="let deduction of finances.taxDeductions" (click)="editTaxDeduction(deduction)">
                                <div class="col-xs-6">
                                    {{deduction.name}}
                                </div>
                                <div class="col-xs-6">
                                    {{deduction.amount || 0 | currency:'USD':true:'1.0-0'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-default" (click)="createNewTaxDeduction()">Add New Tax Deduction</button>
                    </div>
                </div>
            </div>
            <!-- END TAX DEDUCTIONS PANEL -->

            <!-- BEGIN TAX EXEMPTIONS PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tax Exemptions</h3>
                </div>
                <div class="panel-body panel-table">
                    <div class="my-table">
                        <div class="my-table-group">
                            <div class="row my-table-header">
                                <div class="col-xs-6">
                                    <p>Tax Exemption</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>Amount</p>
                                </div>
                            </div>
                            <div class="row my-table-row" *ngFor="let exemption of finances.taxExemptions" (click)="editTaxExemption(exemption)">
                                <div class="col-xs-6">
                                    {{exemption.name}}
                                </div>
                                <div class="col-xs-6">
                                    {{exemption.amount || 0 | currency:'USD':true:'1.0-0'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-default" (click)="createNewTaxExemption()">Add New Tax Exemption</button>
                    </div>
                </div>
            </div>
            <!-- END TAX EXEMPTIONS PANEL -->

            <!-- BEGIN TAX CREDITS PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tax Credits</h3>
                </div>
                <div class="panel-body panel-table">
                    <div class="my-table">
                        <div class="my-table-group">
                            <div class="row my-table-header">
                                <div class="col-xs-6">
                                    <p>Tax Credit</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>Amount</p>
                                </div>
                            </div>
                            <div class="row my-table-row" *ngFor="let credit of finances.taxCredits" (click)="editTaxCredit(credit)">
                                <div class="col-xs-6">
                                    {{credit.name}}
                                </div>
                                <div class="col-xs-6">
                                    {{credit.amount || 0 | currency:'USD':true:'1.0-0'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="text-right">
                        <button class="btn btn-default" (click)="createNewTaxCredit()">Add New Tax Credit</button>
                    </div>
                </div>
            </div>
            <!-- END TAX CREDITS PANEL -->

        </div>
    </div>
</div>


<modal (keyup.enter)="saveIncomeSource()" #incomeSourceModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Source of Income</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="income-source-name">Name of Income Source</label>
                <input id="income-source-name" name="income-source-name" autofocus required [(ngModel)]="selectedIncomeSource.name" type="text" class="form-control" placeholder="Name of Income Source">
            </div>
            <div class="form-group">
                <label for="income-source-amount">Annual Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="income-source-amount" name="income-source-amount" required [(ngModel)]="selectedIncomeSource.annualAmount" type="text" class="form-control" placeholder="Annual Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="selectedIncomeSource.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteIncomeSource(selectedIncomeSource.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveIncomeSource()">Save</button>
    </modal-footer>
</modal>

<modal (keyup.enter)="saveTaxDeduction()" #taxDeductionModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Tax Deduction</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="tax-deduction-name">Name of Tax Deduction</label>
                <input id="tax-deduction-name" name="tax-deduction-name" autofocus required [(ngModel)]="selectedTaxDeduction.name" type="text" class="form-control" placeholder="Name of Tax Deduction">
            </div>
            <div class="form-group">
                <label for="tax-deduction-amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="tax-deduction-amount" name="tax-deduction-amount" required [(ngModel)]="selectedTaxDeduction.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button> -->
        <button *ngIf="selectedTaxDeduction.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTaxDeduction(selectedTaxDeduction.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveTaxDeduction()">Save</button>
    </modal-footer>
</modal>

<modal (keyup.enter)="saveTaxExemption()" #taxExemptionModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Tax Exemption</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="tax-exemption-name">Name of Tax Exemption</label>
                <input id="tax-exemption-name" name="tax-exemption-name" autofocus required [(ngModel)]="selectedTaxExemption.name" type="text" class="form-control" placeholder="Name of Tax Exemption">
            </div>
            <div class="form-group">
                <label for="tax-exemption-amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="tax-exemption-amount" name="tax-exemption-amount" required [(ngModel)]="selectedTaxExemption.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="selectedTaxExemption.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTaxExemption(selectedTaxExemption.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveTaxExemption()">Save</button>
    </modal-footer>
</modal>

<modal (keyup.enter)="saveTaxCredit()" #taxCreditModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Tax Credit</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="tax-credit-name">Name of Tax Credit</label>
                <input id="tax-credit-name" name="tax-credit-name" autofocus required [(ngModel)]="selectedTaxCredit.name" type="text" class="form-control" placeholder="Name of Tax Credit">
            </div>
            <div class="form-group">
                <label for="tax-credit-amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="tax-credit-amount" name="tax-credit-amount" required [(ngModel)]="selectedTaxCredit.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="selectedTaxCredit.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTaxCredit()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveTaxCredit()">Save</button>
    </modal-footer>
</modal>