<div class="page-header"><h1>This Month's Transactions</h1></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Transactions</h3>
                </div>
                <div class="panel-body panel-table">
                    <div class="my-table">
                        <div class="my-table-group">
                            <div class="row my-table-header">
                                <div class="col-xs-2">
                                    <p>Date</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Description</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Category</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Sub-Category</p>
                                </div>
                                <div class="col-xs-1">
                                    <p>Amount</p>
                                </div>
                            </div>

                            <div class="row my-table-row" *ngFor="let transaction of transactions" (click)="editTransaction(transaction)">
                                <div class="col-xs-2">
                                    {{transaction.date | date:'mediumDate'}}
                                </div>
                                <div class="col-xs-3">
                                    {{transaction.name}}
                                </div>
                                <div class="col-xs-3">
                                    {{transaction.budgetCategoryName}}
                                </div>
                                <div class="col-xs-3">
                                    {{transaction.budgetItemName}}
                                </div>
                                <div class="col-xs-1">
                                    {{transaction.amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal (keyup.enter)="saveTransaction()" #transactionModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Transaction</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="transaction-date">Date</label>
                <input id="transaction-date" name="transaction-date" autofocus required [(ngModel)]="transaction.date" type="text" class="form-control" placeholder="Date of Transaction">
            </div>
            <div class="form-group">
                <label for="transaction-description">Description</label>
                <input id="transaction-description" name="transaction-description" required [(ngModel)]="transaction.name" type="text" class="form-control" placeholder="Description of Transaction">
            </div>
            <div class="form-group">
                <label for="transaction-category">Category</label>
                <select id="transaction-category" name="transaction-category" required [(ngModel)]="transaction.budgetItemId" class="form-control" placeholder="Description of Transaction">
                    <optgroup *ngFor="let group of groups" [label]="group.name">
                        <option *ngFor="let item of group.items" [value]="item.id">{{item.name}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label for="transaction-amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="transaction-amount" name="transaction-amount" required [(ngModel)]="transaction.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="transaction.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTransaction()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveTransaction()">Save</button>
    </modal-footer>
</modal>