<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sources of Income</h3>
    </div>
    <div class="panel-body panel-table">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let source of incomeSources" (click)="editSource(source)">
                    <td>{{source.name}}</td>
                    <td>{{source.annualAmount || 0 | currency:'USD':true:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-default" (click)="createNewSource()">+</button>
        </div>
    </div>
</div>

<modal (keyup.enter)="saveIncomeSource()" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Source of Income</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="income-source-name">Name of Income Source</label>
                <input id="income-source-name" name="income-source-name" autofocus required [(ngModel)]="selectedSource.name" type="text" class="form-control" placeholder="Name of Income Source">
            </div>
            <div class="form-group">
                <label for="income-source-amount">Annual Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="income-source-amount" name="income-source-amount" required [(ngModel)]="selectedSource.annualAmount" type="text" class="form-control" placeholder="Annual Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button *ngIf="selectedSource.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSource(selectedSource.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveIncomeSource()">Save</button>
    </modal-footer>
</modal>