<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tax Deductions</h3>
    </div>
    <div class="panel-body panel-table">
        <table class="table table-hover">
            <tbody>
                <tr *ngFor="let deduction of deductions" (click)="editDeduction(deduction)">
                    <td>{{deduction.name}}</td>
                    <td>{{deduction.amount || 0 | currency:'USD':true:'1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-default" (click)="createNewDeduction()">Add New Tax Deduction</button>
        </div>
    </div>
</div>

<modal (keyup.enter)="saveDeduction()" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Tax Deduction</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="tax-deduction-name">Name of Tax Deduction</label>
                <input id="tax-deduction-name" name="tax-deduction-name" autofocus required [(ngModel)]="selectedDeduction.name" type="text" class="form-control" placeholder="Name of Tax Deduction">
            </div>
            <div class="form-group">
                <label for="tax-deduction-amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="tax-deduction-amount" name="tax-deduction-amount" required [(ngModel)]="selectedDeduction.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button> -->
        <button *ngIf="selectedDeduction.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteDeduction(selectedDeduction.id)">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveDeduction()">Save</button>
    </modal-footer>
</modal>