<div class="page-header"><h1>Your Monthly Budget</h1></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Budget Categories</h3>
                </div>
                <div class="panel-body panel-table">


                    <div class="my-table">
                        <div class="my-table-group" *ngFor="let category of budget.categories">
                            <div class="row my-table-group-title">
                                <div class="col-xs-12" (click)="editBudgetCategory(category.id, category)">
                                    <h3>{{category.name}}</h3>
                                </div>
                            </div>

                            <div class="row my-table-header">
                                <div class="col-xs-3">
                                    <p>Category</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Amount Budgeted</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Percent of Income</p>
                                </div>
                                <div class="col-xs-3">
                                    <p>Annual Total</p>
                                </div>
                            </div>

                            <div class="row my-table-row" *ngFor="let item of category.items" (click)="editBudgetItem(category.id, item)">
                                <div class="col-xs-3">
                                    {{item.name}}
                                </div>
                                <div class="col-xs-3 text-danger">
                                    {{item.amount || 0 | currency:'USD':true:'1.0-2'}}
                                </div>
                                <div class="col-xs-3">
                                    {{item.amount / (finances.estimatedNetIncome / 12) | percent:'1.0-1'}}
                                </div>
                                <div class="col-xs-3">
                                    {{(item.amount || 0) * 12 | currency:'USD':true:'1.0-2'}}
                                </div>
                            </div>
                            <div class="row my-table-row text-center" (click)="createNewBudgetItem(category.id)">+</div>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <button class="btn btn-default" (click)="createNewBudgetCategory()">Add New Category</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title">Summary</h3>
                </div>
                <div class="panel-body">
                    <div class="chart">
                        <div class="doughnut-label">
                            <p class="small">Total Budgeted</p>
                            <h1>{{budget.total | currency:'USD':true:'1.0-2'}}</h1>
                        </div>
                        <canvas baseChart
                            [chartType]="budgetedChart.type"
                            [colors]="budgetedChart.colors"
                            [labels]="budgetedChart.labels"
                            [data]="budgetedChart.data"
                            [options]="budgetedChart.options"
                            [legend]="false">
                        </canvas>
                    </div>
                    <div class="chart">
                        <div class="doughnut-label">
                            <p class="small">Budget Breakdown</p>
                            <!-- <h1>{{budget.total | currency:'USD':true:'1.0-2'}}</h1> -->
                        </div>
                        <canvas baseChart #breakdownChart
                            [chartType]="breakdownChartData.type"
                            [colors]="breakdownChartData.colors"
                            [labels]="breakdownChartData.labels"
                            [data]="breakdownChartData.data"
                            [options]="breakdownChartData.options"
                            [legend]="false">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal (keyup.enter)="saveBudgetCategory()" #budgetCategoryModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Budget Category</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="category-name">Name of Category</label>
                <input id="category-name" name="category-name" autofocus required [(ngModel)]="budgetCategory.name" type="text" class="form-control" placeholder="Name of Category">
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="budgetCategory.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteBudgetCategory()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveBudgetCategory()">Save</button>
    </modal-footer>
</modal>

<modal (keyup.enter)="saveBudgetItem()" #budgetItemModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">New Budget Item</h4>
    </modal-header>
    <modal-body>
        <form #modalForm="ngForm">
            <div class="form-group">
                <label for="item-name">Name of Budget Item</label>
                <input id="item-name" name="item-name" autofocus required [(ngModel)]="budgetItem.name" type="text" class="form-control" placeholder="Name of Item">
            </div>
            <div class="form-group">
                <label for="budget-item-amount">Annual Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="budget-item-amount" name="budget-item-amount" required [(ngModel)]="budgetItem.amount" type="text" class="form-control" placeholder="Amount">
                </div>
            </div>
        </form>
    </modal-body>
    <modal-footer>
        <button *ngIf="budgetItem.id" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteBudgetItem()">Delete</button>
        <button type="button" class="btn btn-primary" (click)="saveBudgetItem()">Save</button>
    </modal-footer>
</modal>