/* You can add global styles to this file, and also import other style files */

/* BEGIN COLORS */

/* Light Blue: #28c2ff; */
/* Light Blue Darker: #009ddb */

/* END COLORS */

body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: #2c363f;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    margin-top: 10px;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* BEGIN MY TABLE */

.my-table {

}

.my-table-group {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.my-table-group-title {
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
}

.my-table-group-title:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.my-table-group-title h3 {
    margin: 0;
    display: inline-block;
}

.row.my-table-row {
    background-color: #eee;
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.row.my-table-row:hover {
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.row.my-table-header {
    padding: 0 5px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
}

.row.my-table-header p {
    font-size: 10pt;
    margin: 0;
}

/* END MY TABLE */


/* BEGIN DATE SWITCHER */

.ui-date-switcher-left,
.ui-date-switcher-right {
    width: 20px;
    height: 30px;
    
}

.ui-date-switcher-left polyline,
.ui-date-switcher-right polyline {
    stroke: #28c2ff;
    stroke-width: 5px;
}

.ui-date-switcher-left:hover polyline,
.ui-date-switcher-right:hover polyline {
    stroke: #009ddb;
}

.ui-date-switcher-text {
    width: 200px;
    font-size: 18px;
}

/* END DATE SWITCHER */

.chart {
    position: relative;
    text-align: center;
}

.chart + .chart {
    margin-top: 20px;
}

.chart .doughnut-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart .doughnut-label p {
    margin: 0;
}

.chart .doughnut-label h1 {
    margin: 0;
}

/* BOOSTRAP OVERRIDES */

.text-danger {
    color: #db5139;
}

.btn-danger {
    background-color: #db5139;
    border-color: #db5139;
}

.btn-primary {
    background-color: #006ba6;
    border-color: #006ba6;
}

.table {
    margin-bottom: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.table-hover > tbody > tr:hover {
    cursor: pointer;
}

.page-header {
    background-color: white;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}

.panel {
    margin-bottom: 30px;

    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,.1);
}

.panel-heading {
    position: relative;
    padding: 15px 20px;
}

.panel-heading:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px; 
    background-color: #28c2ff;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
    background-color: white;
    border: none;
}

.panel-default > .panel-heading .row,
.panel-default > .panel-footer .row {
    margin-left: -10px;
    margin-right: -10px;
}

.panel-title {
    font-size: 22pt;
}

.panel-body.panel-table {
    padding: 0;
    padding-top: 5px;
}